body{
    box-sizing: border-box;
}
header{
    box-shadow:10px 5px 10px rgba(0, 0, 0, 0.2); 
    width: 100%; 
    background-color:rgba(255, 255, 255, 0.9);
}
.img-fluid{
    margin-right: 25px;
    margin-left: 25px;
}
body .container-fluid{
    padding-right: 0rem;
    padding-left: 0rem;
}
.nav-link{
    color:black;
}
.nav-link:hover{
    color:gray;
}
.cer-info{
    margin: 30px;
    margin-top: 40px;
}
.sess-course{
    margin: 30px;
}
h3{
    margin-left: 10px;
}
.topic{
    font-weight: 500; 
    margin: 10px 10px 15px 10px;
}
